/*-------------------------------------------------------------------------------------------*/
/* 0. RESET */
/*-------------------------------------------------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ | v1.0 | 20080212 */
body, html {
  height: 100%; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, figure {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

:focus {
  outline: 0; }

/* remember to define focus styles! */
del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* tables still need 'cellspacing="0"' in the markup */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* */
body {
	background-color: #F8F8F8;
	font-size: 14px;
	color: #000;
	font-family: 'Avenir', sans-serif;
}
p, li, input, select, button {
	text-align: left;
	font-family: 'Avenir', sans-serif;
	line-height: 1.4em;
}
a { text-decoration: none; }
a:hover { text-decoration: underline; }
img { 
	border: none; 
	display: block;
	max-width: 100%;
	height: auto;
}
.col-full {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
	overflow: hidden;
}
h1, h2 { line-height: 1em; }
h1 {
	font-size: 48px;
	text-align: center;
}
h2 {
	text-align: center;
}

/* Global */
#header {
	width: 100%;
	padding: 25px 0;
}
#logo {
	width: 40%;
	float: left;
}
#logo .logo-light { display: none; }
#nav-holder {
	float: right;
	width: 60%;
}
#nav-holder #social {
	float: right;
	margin-top: 2px;
}
#nav-holder #social a {
	padding-left: 9px;
}
#nav-holder #social a i {
	font-size: 1.4em;
}
#nav-holder #navigation {
	float: right;
}
#nav-holder #navigation a {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	padding: 0 15px;
	line-height: 28px;
}

/* Header */
#header { border-bottom: 1px solid #6CDA81; }
#header #social a { color: #4A4A4A; }
#nav-holder #navigation a.shortlist {
	position: relative;
	display: inline-block;
}
#nav-holder #navigation a.shortlist:before {
	color: #666666;
	content: '\f08a';
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	position: absolute;
	margin-top: 3px;
	margin-left: -15px;
	z-index: 990;
}
#nav-holder #navigation a.shortlist .shortlist-counter {
	background: #6CDA81;
	border-radius: 50px;
	color: #fff;
	width: 20px;
	height: 20px;
  	display: inline-block;
  	text-align: center;
  	line-height: 20px;
  	left: 0;
  	z-index: 991;
  	position: relative;
  	top: -3px;
}
#nav-holder #social a:hover { 
	opacity: .7;
}


/* Home */
#hero {
	background: #ccc url('../img/hero-bg.jpg') no-repeat center center;
	background-size: cover;
}
#hero #header { border-bottom: 1px solid #fff; }
#hero #header .logo-light { display: inline-block; }
#hero #header .logo-dark { display: none; }
#hero #nav-holder #social a { color: #fff; }
#hero #nav-holder #navigation a { color: #fff; }
#hero #nav-holder #navigation a.shortlist:before { color: #ffffff; }
#primary-search.home-search { background-color: rgba(0,0,0,.6); }
#primary-search.home-search form { margin-bottom: 0; }
#intro {
	margin-top: 13em;
	margin-bottom: 3em;
}
#intro h1 {
	color: #fff;
	margin-top: 0;
	margin-bottom: .25em;
}
#intro h2 {
	font-size: 18px;
	color: #fff;
	margin-top: 0;
}
#primary-search {
	padding: 25px 0;
}
#explainer {
	background-color: #fff;
	padding: 25px 0;
}
#explainer h4 {
	color: #4A4A4A;
	font-size: 20px;
	margin-bottom: 4px;
	text-align: left;
}
#explainer p {
	color: #4A4A4A;
	font-size: 14px;
}
#explainer .threecol-one .inner { padding-left: 4em; }
#explainer .threecol-one:before {
	position: absolute;
	color: #6CDA81;
	font-size: 70px;
	top: 0;
	left: 0;
	font-weight: bold;
}
#explainer .first:before { content: '1'; }
#explainer .second:before { content: '2'; }
#explainer .third:before { content: '3'; }

/* Page */
h1.page-title {
	margin: 50px 0;
}

/* Search */
#primary-search .col-full {
	overflow: visible;
	min-height: 53px;
}
#primary-search form {
	border-radius: 3px;
	width: auto;
	border: 1px solid #E9E9E9;
	background: #fff;
	max-width: 1000px;
	margin: 0 auto 25px auto;
	min-height: 51px;
}
#primary-search input, #primary-search select, #primary-search button {
	height: 50px;
	font-size: 15px;
	border: none;
	float: left;
	border-right: 1px solid #E9E9E9;
	padding: 0;
}
#primary-search input, #primary-search select { background: #fff; }
#primary-search input:focus, #primary-search select:focus {
	background: #F8F8F8;
}
#primary-search select {
	border-radius: 0;
	width: 17%;
	border: none;
	text-indent: 20px;
	-moz-appearance: none;
	-webkit-appearance: none;
	text-overflow: '';
	position: relative;
}
#primary-search input {
	text-indent: 20px;
}
#search-suburb, .select2-container {
	width: 28%!important;
}
#search-date {
	width: 19%;
	text-indent: 10px!important;
}
#search-submit {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	background-color: #6CDA81;
	width: 18.75%;
	float: right!important;
	text-align: center;
	border-radius: 3px;
	border-right: none!important;
}
#search-type { border-right: 1px solid #E9E9E9!important; }

/* FORM SELECT2 */
.select2-container, #search-type, #search-capacity {
	background: #fff url('../img/fa-angle-down.png') no-repeat right 10px center!important;
	background-size: 10px!important;
}
.select2-container { 
	float: left;
	border-right: 1px solid #E9E9E9;
}
.select2-container--default .select2-selection--single {
	border: none!important;
	border-radius: 0!important;
	background: transparent!important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered { 
	line-height: 50px!important;
	padding-left: 0!important;
	text-indent: 20px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow { display: none!important; }
.select2-results__option { padding: 6px 20px!important; }
.select2-search--dropdown .select2-search__field { padding: 8px!important; }
.select2-container--open .select2-dropdown { left: -1px!important; }

/* Footer */
#footer {
	border-top: 1px solid #4A4A4A;
	padding: 35px 0;
}
ul.footer-menu {
	list-style: none;
	text-align: center;
}
ul.footer-menu li {
	display: inline-block;
	font-size: 12px;
	padding: 5px 10px;
}
ul.footer-menu li a {
	color: #4A4A4A;
}
.footer-social {
	text-align: center;
}
.footer-social a {
	padding: 9px;
	border-radius: 50%;
	border: 1px solid #4A4A4A;
	color: #4A4A4A;
	overflow: hidden;
	display: inline-block;
	height: 22px;
	width: 22px;
	margin: 25px 5px;
}
.footer-social a i {
	font-size: 1.5em;
}
.facebook, .pinterest, .twitter, .instagram {
	-webkit-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-o-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
}
.facebook:hover {
	border-color: #3b5998;
	background-color: #3b5998;
	color: #fff;
}
.pinterest:hover {
	border-color: #cb2027;
	background-color: #cb2027;
	color: #fff;
}
.twitter:hover {
	border-color: #00aced;
	background-color: #00aced;
	color: #fff;
}
.instagram:hover {
	border-color: #517fa4;
	background-color: #517fa4;
	color: #fff;
}
.copyright {
	text-align: center;
	font-size: 10px;
}

/* RESULTS */
.results h4 {
	text-align: center;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: bold;
	color: #666;
	margin: 25px 0;
}
.results.col-full { overflow: visible; }
.results ul {
	display: inline-block;
	width: 100%;
}
.results ul li {
	width: 100%;
	max-width: 375px;
	margin-right: 3.1%;
	margin-bottom: 3.1%;
	border-radius: 4px;
	float: left;
	position: relative;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.results ul li.first { clear: left; }
.results ul li.last { margin-right: 0; }
.results ul li:hover {
	-webkit-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
	-moz-box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
	box-shadow: 0px 0px 30px 0px rgba(0,0,0,0.15);
}
.list-venue-overlay {
	z-index: 30;
	opacity: 0;
	background: rgba(0,0,0,.2);
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 250px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
}
.list-venue-overlay .inner {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}
.list-venue-overlay .inner a {
	border-radius: 20px;
	padding: 10px 20px;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	clear: both;
	display: inline-block;
	max-width: 140px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	opacity: 0;
}
.list-venue-overlay .inner a.save-to-shortlist {
	background: #6CDA81;
}
.list-venue-overlay .inner a.more-information {
	background: #fff;
	margin-top: 7px;
	margin-bottom: 34px;
}
.list-venue-hero:hover .list-venue-overlay { 
	opacity: 1;
	display: table;
}
.list-venue-overlay:hover .inner a { opacity: 1; }
.list-venue-hero {
	position: relative;
	z-index: 20;
}
.list-venue-details {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background: transparent url(../img/venue-overlay.png) repeat-x left bottom;
}
.list-venue-details, .list-venue-details p { 
	color: #fff;
	font-size: 12px;
}
.list-venue-details h3 {
	color: #fff;
	font-size: 24px;
	font-weight: 800;
	margin-bottom: 6px;
}
.list-venue-details .list-venue-location {
	float: left;
	width: 50%;
	text-align: left;
	margin: 0;
}
.list-venue-details .sponsored {
	float: left;
	width: 50%;
	text-align: right;
	margin: 0;
}
.list-venue-details .inner, .list-venue-content .inner, .post-excerpt .inner { 
	padding: 30px;
	overflow: hidden;
}
.list-venue-content {
	background: #fff;
	width: 100%;
}

/* Buttons */
.pagination { 
	text-align: center;
	margin: 0 0 37px 0;
}
.pagination a {
	font-size: 14px;
	color: #000000;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px 30px;
	border-radius: 50px;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
	display: inline-block;
}
.pagination a:hover { text-decoration: none; }
.advanced-search {
	border: 1px solid #6CDA81;
}
.advanced-search:hover { 
	background: #6CDA81;
	color: #fff;
}

/* VENUE LISTING */
#venue { margin-bottom: 80px; }
#venue-gallery { 
	overflow: hidden;
	margin: 40px 0;
	-webkit-user-select: none;
	-moz-user-select: none;  
	user-select: none;
	width: 100%;
}
.rsThumbsContainer { -webkit-transform: none!important; }


#images { position: relative; }
#images .save-to-shortlist {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;
	font-weight: bold;
	font-size: 12px;
	text-transform: uppercase;
}
#images .save-to-shortlist i {
	font-weight: normal;
	color: #6CDA81;
	font-size: 16px;
	margin-right: 3px;
}
h1.venue-title {
	clear: both;
	margin-bottom: 20px;
	text-align: left;
	font-size: 43px;
}
h3.venue-address {
	border-bottom: 1px solid #6CDA81;
	padding-bottom: 15px;
	margin-bottom: 30px;
}
h3.venue-address a {
	font-weight: normal;
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #4A4A4A;
	margin-left: 4px;
}
h3.venue-address a:before { content: '[ '; }
h3.venue-address a:after { content: ' ]'; }
#venue-description { margin-bottom: 40px; }
#venue-description p { margin-bottom: 1.2em; }
#venue-stats { 
	margin-bottom: 40px;
	overflow: hidden;
}
#venue-stats table { width: 100%; }
#venue-stats table tr td { 
	padding: 10px 5px;
	font-size: 15px;
}
#venue-stats table thead tr td {
	border-top: 1px solid #666;
	border-bottom: 1px solid #666;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 13px;
}

#venue-form {
	background-color: #6CDA81;
	padding: 40px 20px;
}
#venue-form h4 {
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
	color: #fff;
}
#venue-form form { width: 100%; }
#venue-form form input[type="text"], #venue-form form input[type="email"] {
	background: #fff;
	border: 1px solid #979797;
	border-radius: 0;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	display: block;
	padding: 10px 0;
	text-indent: 8px;
	font-size: 15px;
  	margin-bottom: 10px;
}
#venue-form form input[type="checkbox"] {
	border: 1px solid #666;
	background: #fff;
  	margin: 5px 10px 10px 0;
}
#venue-form form label {
	color: #4A4A4A;
	font-size: 12px;
}
#venue-form form label a { 
	color: #4A4A4A;
	text-decoration: underline;
}
#venue-form form button {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	width: 100%;
	background: #fff;
	border: none;
	text-align: center;
	font-weight: 800;
	color: #000;
	font-size: 14px;
	border-radius: 3px;
	margin-top: 5px;
	padding: 12px 0;
	-webkit-box-shadow: inset 0px -2px 0px 2px rgba(229,230,229,0.7);
	-moz-box-shadow: inset 0px -2px 0px 2px rgba(229,230,229,0.7);
	box-shadow: inset 0px -2px 0px 2px rgba(229,230,229,0.7);
}
#venue-form p {
	font-size: 12px;
	margin-top: 20px;
	text-align: center;
	color: #4A4A4A;
}
#more-posts {
	background: #fff;
	padding: 20px;
}
#more-posts h3 {
	text-align: center;
	margin: 10px 0 30px 0;
	color: #57CA6C;
	font-size: 15px;
	text-transform: uppercase;
}
#more-posts a {
	position: relative;
	display: block;
	margin-bottom: 20px;
}
#more-posts a h5 {
	position: absolute;
	bottom: 20px;
	left: 20px;
	color: #fff;
	font-size: 17px;
	font-weight: 800;
}
.venue-index {
	width: 100%;
	overflow: hidden;
	margin-top: 15px;
}
#venue .venue-index { margin-bottom: 35px; }
.venue-index div {
	float: left;
	width: 16.6666667%;
	text-align: center;
	padding-top: 48px;
}
.venue-index div strong {
	display: block;
	margin-bottom: 3px;
}
.venue-index .venue-index-capacity {
	background: transparent url('../img/ico-capacity.png') no-repeat top center;
}
.venue-index .venue-index-catering {
	background: transparent url('../img/ico-catering.png') no-repeat top center;
}
.venue-index .venue-index-handicap {
	background: transparent url('../img/ico-handicapped.png') no-repeat top center;
}
.venue-index .venue-index-music {
	background: transparent url('../img/ico-music.png') no-repeat top center;
}
.venue-index .venue-index-outdoors {
	background: transparent url('../img/ico-outdoors.png') no-repeat top center;
}
.venue-index .venue-index-media {
	background: transparent url('../img/ico-projector.png') no-repeat top center;
}


/* SHORTLIST */
#shortlist-results .list-venue-content .inner { padding: 40px 30px 0 30px; }
.shortlist-remove {
	position: absolute;
	color: #fff;
	bottom: 20px;
	right: 20px;
	font-size: 22px!important;
	opacity: .7;
	-webkit-transition: all .25s ease-in-out;
	-moz-transition: all .25s ease-in-out;
	-o-transition: all .25s ease-in-out;
	transition: all .25s ease-in-out;
}
.shortlist-remove:hover { opacity: 1; }
#shortlist-results li h3 {
	font-size: 24px;
	color: #4A4A4A;
	margin-bottom: 9px;
}
#shortlist-results .list-venue-location {
	color: #4A4A4A;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	margin-bottom: 1.5em;
}
.shortlist-info {
	padding: 13px 30px;
	background: #6CDA81;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	border-bottom-left-radius: 8px;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 140;
	-webkit-transition: all .4s ease-in-out;
	-moz-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}
.shortlist-info:hover {
	text-decoration: none;
	background: #3eb553;
}
#shortlist-results .venue-index div {
	padding-top: 36px;
}
#shortlist-results .venue-index .venue-index-outdoors { background-size: 40px!important; }
#shortlist-results .venue-index .venue-index-media { 
	background-size: 40px!important;
	background-position: center 4px;
}
#shortlist-results .venue-index .venue-index-capacity {
	background-size: 32px auto!important;
	background-position: center 4px;
}

/* BLOG */
#blog-feed {}
#blog-feed li {
	width: 48%;
	margin-right: 3.8%;
	margin-bottom: 3.8%;
	float: left;
	background: #fff;
}
#blog-feed li:nth-of-type(2n+0) { margin-right: 0; }
#blog-feed li:nth-of-type(2n+1) { clear: left; }
.post-excerpt h2 {
	font-size: 2em;
	margin-bottom: .3em;
	text-align: center;
}
.post-excerpt h2 a {
	color: #000;
}
.post-excerpt .post-meta {
	text-align: center;
	margin-bottom: 2em;
	text-transform: uppercase;
	font-size: 10px;
}

/* BLOG POST */
#single-post { padding-bottom: 60px; }
#single-post .post-hero { 
	text-align: center;
	margin-bottom: 2em; 
}
h2.post-title {
	font-size: 36px;
	margin-bottom: .8em;
}
#single-post .post-meta {
	text-align: center;
	margin-bottom: 2em;
	text-transform: uppercase;
	font-size: 10px;
}
#single-post .post-hero img {
	display: inline-block;
}
.post-content p { margin-bottom: 1.4em; }


/*-------------------------------------------------------------------------------------------*/
/* 3. Columns */
/*-------------------------------------------------------------------------------------------*/
.twocol-one{width:48%;}
.threecol-one{width:31.667%;}
.threecol-two{width:65%;}
.fourcol-one{width:22%;}
.fourcol-two{width:48%;}
.fourcol-three{width:74%;}
.fivecol-one{width:16.8%;}
.fivecol-two{width:37.6%;}
.fivecol-three{width:58.4%;}
.fivecol-four{width:78.4%;}
.sixcol-one{width:13.33%;}
.sixcol-two{width:30.66%;}
.sixcol-three{width:47.99%;}
.sixcol-four{width:65.33%;}
.sixcol-five{width:82.67%;}
.twocol-one,.fourcol-one,.fourcol-two,.fourcol-three,.fivecol-one,.fivecol-two,.fivecol-three,.fivecol-four,.sixcol-one,.sixcol-two,.sixcol-three,.sixcol-four,.sixcol-five{float:left;margin-right:4%;position:relative;}
.threecol-one,.threecol-two{float:left;margin-right:2.5%;position:relative;}
.last{ clear:right; margin-right:0; }
.clear:after {
    content: "\0020";
    display: block;
    height: 0;
    overflow: hidden;
    clear: both;
}

@media only screen and (min-width: 768px) {
	
	/* VENUE LISTING */
	#images { float: left; }
	img.rsImg { margin: 0!important; }
	.rsThumbs {
		float: right!important;
		max-width: 180px;
		padding-right: 0!important;
	}
	.rsThumb { margin-bottom: 20px!important; }
	.rsThumbsContainer { -webkit-transform: none!important; }
	.rsNavItem { }
	
	/* SHORTLIST */
	.results #shortlist-results li {
		margin-right: 0;
		width: 100%;
		max-width: 100%;
		background-color: #fff;
	}
	#shortlist-results .list-venue-hero { 
		max-width: 31.25%; 
		float: left;
	}
	#shortlist-results .list-venue-content {
		width: 68.5%;
		float: right;
	}
	
	/* BLOG POST */
	#single-post.col-full {
		max-width: 700px;
	}
	
	
}

@media only screen and (min-width: 768px) and (max-width: 1200px) {
	
	#venue-gallery {
		padding: 0 0 0 25px;
		width: auto;
		height: auto!important;
	}
	.rsOverflow { width: 100%!important; }
	img.rsImg {
		max-width: none;
		width: 100%!important;
		height: auto!important;
	}
	.rsThumbs {
		width: 100%;
		max-width: 100%;
		margin-top: 20px;
		margin-bottom: 0;
	}
	.rsThumb { margin-right: 20px; }
	.rsThumbsContainer { height: auto!important; }
	
	#thumbnails img {
		float: left;
		margin-right: 20px; 
	}
	h1.venue-title, h3.venue-address, #venue-description, .venue-index, #venue-stats {
		padding-left: 25px;
		padding-right: 25px;
	}
	
	/* RESULTS */
	.results ul {
		
	}
	.results ul li {
		max-width: 31.2%;
	}
	
}

@media only screen and (min-width: 768px) and (max-width: 900px) {
	
	/* RESULTS */
	.results ul {
		padding: 0 25px;
		width: auto;
	}
	.results ul li { max-width: 48%!important; }
	.list-venue-hero .list-venue-image img { width: 100%; }
	.results ul li:nth-of-type(odd) {
		
	}
	.results ul li:nth-of-type(even) {
		margin-right: 0!important;
	}
	
	.results ul li.first {}
	.results ul li.last { margin-right: 3.1%; }
	
}

@media only screen and (max-width: 768px) {
	.twocol-one,.threecol-one,.threecol-two,.fourcol-one,.fourcol-two,.fourcol-three,.fivecol-one,.fivecol-two,.fivecol-three,.fivecol-four,.sixcol-one,.sixcol-two,.sixcol-three,.sixcol-four,.sixcol-five{margin-right: 0; width: 100% !important;}
	
	/* GENERAL */
	#header {
		background: #fff;
		border: none;
		width: auto;
		padding: 20px;
	}
	#nav-holder { 
		width: auto;
		position: absolute;
		top: 16px;
		right: 2px;
	}
	#nav-holder #social, .shortlist-text, .how-it-works { display: none; }
	#hero #nav-holder #navigation a { color: #000; }
	#hero #nav-holder #navigation a.shortlist:before { color: #4A4A4A; }
	#hero #header .logo-light { display: none; }
	#hero #header .logo-dark { display: inline-block; }
	#logo { }
	#logo img {
		max-height: 22px;
		width: auto;
		display: inline-block;
	}
	h1 { font-size: 26px; }
	
	/* HOME */
	#intro { margin-top: 8em; }
	#intro h2 { font-size: 14px; }
	#primary-search { 
		background: none;
		padding: 25px;
	}
	#primary-search form {
		margin-bottom: 0;
		border: none;
		border-radius: 0;
		background: none;
	}
	#primary-search input, #search-suburb, .select2-container, #primary-search input[type=date] {
		width: 100%!important;
		margin-bottom: 10px!important;
		border-radius: 3px;
		text-indent: 10px!important;
	}
	#primary-search select {
		width: 48.5%;
		margin-bottom: 10px;
		border-radius: 3px;
		text-indent: 10px!important;
	}
	#primary-search input[type=date] { text-indent: 5px!important; }
	.select2-container--default .select2-selection--single .select2-selection__rendered { text-indent: 10px; }
	#primary-search #search-capacity { float: right; }
	#primary-search button {
		  float: none!important;
		  width: 100%;
		  -webkit-box-shadow: inset 0px -2px 0px 2px rgba(73,199,95,0.7);
		  -moz-box-shadow: inset 0px -2px 0px 2px rgba(73,199,95,0.7);
		  box-shadow: inset 0px -2px 0px 2px rgba(73,199,95,0.7);
	}
	#explainer .threecol-one:before {
		left: 25px;
		font-size: 40px;
	}
	#explainer .threecol-one .inner { padding-left: 5em; }
	#explainer p { font-size: 13px; }
	#explainer .first, #explainer .second { margin-bottom: 20px; }
	
	/* RESULTS */
	.results.col-full { text-align: center; }
	.results ul {
		width: auto;
		margin: 0 auto;
	}
	.results ul li {
		margin-right: 0;
		float: none;
	}
	.pagination { margin: 20px 0 35px 0; }
	
	/* VENUE */
	#venue-gallery { 
		margin: 0 0 20px 0;
		width: auto;
		padding: 0 25px;
		overflow: visible;
	}
	.rsOverflow { 
		width: 100%!important;
		margin-bottom: 20px;
	}
	img.rsImg {
		width: 100%!important;
		height: auto!important;
		margin: 0!important;
	}
	.rsThumbsContainer { height: auto!important; }
	.rsThumbs {
		width: 100%!important;
		padding: 0!important;
	}
	.rsNavItem {
		margin-bottom: 20px!important;
		margin-right: 20px!important;
	}
	
	h1.venue-title {
		text-align: center;
		font-size: 30px;
	}
	h3.venue-address { text-align: center; }
	h3.venue-address a {
		display: block;
		margin-top: 7px;
	}
	#venue-description { padding: 0 25px; }
	#venue .venue-index { margin-bottom: 15px; }
	.venue-index div {
		width: 33.33%;
		margin-bottom: 30px;  
	}
	#venue-stats { padding: 0 25px; }
	#venue-stats .capacity { margin-bottom: 2em; }
	#more-posts a { text-align: center; }
	#more-posts a img { display: inline-block; }
	#more-posts a h5 { left: 30px; }
	
	/* BLOG */
	#blog-feed {
		max-width: 90%;
		margin: 0 auto;
	}
	#blog-feed li {
		width: 100%;
		margin-right: 0;
	}
	
	/* POSTS */
	#single-post.col-full {
		padding: 0 20px;
		width: auto;
	}
	
	
}

@media only screen and (min-width: 1200px) {

	#venue-gallery { max-height: 387px; }

}