<div id="footer" class="col-full">
	<ul class="footer-menu">
		<li><a href="">How does it work?</a></li>
		<li><a href="">About</a></li>
		<li><a href="">List your venue</a></li>
		<li><a href="">Blog</a></li>
		<li><a href="">Terms &amp; Privacy</a></li>
		<li><a href="">Contact</a></li>
	</ul>
	<div class="footer-social">
		<a href="" class="facebook"><i class="fa fa-2x fa-facebook-square"></i></a>
		<a href="" class="twitter"><i class="fa fa-2x fa-twitter"></i></a>
		<a href="" class="instagram"><i class="fa fa-2x fa-instagram"></i></a>
		<a href="" class="pinterest"><i class="fa fa-2x fa-pinterest"></i></a>
	</div>
	<p class="copyright">&copy; 2015 MyFunctionRoom.com.au</p>
</div>