<div id="header">
	<div class="col-full">
		<div id="logo">
			<img src="/img/logo.png" alt="My Function Room" width="240" height="28" class="logo-light" />
			<img src="/img/logo-dark.png" alt="My Function Room" width="240" height="28" class="logo-dark" />
		</div>
		<div id="nav-holder">
			<div id="social">
				<a href=""><i class="fa fa-facebook-square"></i></a>
				<a href=""><i class="fa fa-twitter"></i></a>
				<a href=""><i class="fa fa-instagram"></i></a>
				<a href=""><i class="fa fa-pinterest"></i></a>
			</div>
			<div id="navigation">
				<a href="" class="shortlist"><span class="shortlist-counter">1</span><span class="shortlist-text"> My Shortlist</span></a>
				<a href="" class="how-it-works">How It Works</a>
			</div>
		</div>
	</div>
</div>
<h1 class="page-title">Blog</h1>