<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{ .Title }}</title>
  <meta name="description" content="Development Site">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
  <link rel="stylesheet" href="/css/style.css">
  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
</head>
<body>
	{{ partial "header.html" . }}

	<div class="col-full">
		<ul id="blog-feed">
			{{ range first 10 .Data.Pages }}
				{{ if eq .Type "post" }}
					<li>
						<div class="post-hero">
							<img src="http://lorempixel.com/576/250/" width="576" height="250" alt="The Mint functions">
						</div>
						<div class="post-excerpt">
							<div class="inner">
								<h2>
									<a href="{{ .Permalink }}">{{ .Title }}</a>
								</h2>
								<p class="post-meta">Posted in Category on {{ .Date.Format "Mon, Jan 2, 2006" }}</p>
								<p>{{ .Content }}</p>
							</div>
						</div>
					</li>
				{{ end }}
			{{ end }}
		</ul>
	</div>

	{{ partial "footer.html" . }}
</body>
</html>